* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(20,20,20);
}

#search-bar {
    background: rgba(255,255,255,.85);
    border:  none;
    padding: 1rem;
    z-index: 9001;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

#search-bar > h2 {
    font-size: 1.125rem;
}
